header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 50px;
  box-shadow: 1px 2px 25px rgb(216, 216, 216);
  font-size: 20px;
  font-weight: 600;
  color: rgb(68, 68, 68);
}

.leftArea {
  display: flex;
  justify-content: space-between;
}

.navList {
  display: flex;
}

.title {
  font-size: 22px;
  letter-spacing: 1.5px;
}

.navListItem {
  list-style-type: none;
}

.navLink {
  color: rgb(68, 68, 68);
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.navLink:hover {
  background: rgb(240, 240, 240);
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 7px 15px;
  font-size: 16px;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  font-weight: 500;
}

.searchInput:focus {
  outline: 3px solid rgba(192, 226, 255, 0.7);
}

#searchButton {
  padding: 10px !important;
}

/* Media queries for responsiveness starts here */

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column !important;
    text-align: center;
  }
  .leftArea {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .navList {
    margin-top: 15px;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding: 35px 20px;
    font-size: 18px !important;
  }
  .searchContainer {
    text-align: center;
    justify-content: center;
    width: 300px;
  }
  .searchInput {
    margin-right: 0 !important;
    padding: 7px 10px !important;
    width: 200px !important;
  }
}