header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: rgb(245, 245, 245);
  font-size: 17px;
  font-weight: 600;
  color: rgb(68, 68, 68);
  font-weight: 500;
}

.leftArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
}

.title {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.navListItem {
  list-style-type: none;
}

.navLink {
  color: rgb(68, 68, 68);
  text-decoration: none;
  padding: 10px;
  transition: all 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.navLink:hover {
  background: rgb(240, 240, 240);
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 8px 15px;
  font-size: 16px;
  outline: none;
  margin-right: 5px;
  border-radius: 5px;
  border: 1.2px solid rgb(207, 207, 207);
  transition: all 0.2s;
  font-weight: 600;
  width: 200px;
}

.searchInput:focus {
  outline: 3.5px solid rgba(0, 119, 255, 0.35);
}

#searchButton {
  padding: 10px 15px !important;
  border-radius: 5px;
  border: 1px solid rgb(58, 58, 58);
  background: transparent;
  font-weight: 500;
  color: rgb(58, 58, 58);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

#searchButton:hover {
  background: rgb(58, 58, 58);
  color: white;
}

#searchButton:focus {
  outline: 3.5px solid rgba(0, 0, 0, 0.35);
}

/* Media queries for responsiveness starts here */

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column !important;
    text-align: center;
  }
  .leftArea {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .navList {
    margin-top: 15px;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding: 35px 20px;
    font-size: 18px !important;
  }
  .searchContainer {
    text-align: center;
    justify-content: center;
    width: 300px;
  }
  .searchInput {
    margin-right: 0 !important;
    padding: 7px 10px !important;
    width: 200px !important;
  }
}